:host{
   
}

.header{
    display: block;
    min-height: 100px;
    width: 100%;
    background-color: #00A3E0;

}

.header h1{

    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff;
}
