<input id="anPageName" name="page" type="hidden" value="dashboard" />
<div class="dashboard">
    <div style="width: 100%; height: 100%; position:relative; margin:auto;">
        <img anima-src="/img/dashboard-rectangle.png" class="rectangle"
            />
        <div class="header">
            <img src="assets/img/dashboard-rectangle-1.png" class="rectangle3"
                 />
            <img src="assets/img/dashboard-rectangle-2.png" class="rectangle1"
                />
            <img src="assets/img/dashboard-rectangle-3.png" class="rectangle2"
                 />
            <div class="currentrates">
                Current Rates
            </div>
            <div class="projections">
                Projections 
            </div>
            <div class="search">
                <div class="rectangle21">
                </div>
                <img src="assets/img/dashboard-shape@2x.png" class="shape"
                    />
                <div class="searchforanything">
                    Search for anything..
                </div>
            </div>
            <div class="statusbar">
                
            </div>
        </div>
        <div class="coingroup">
            <img src="assets/img/dashboard-rectangle-4.png" class="rectangle3"
                />
            <img src="assets/img/dashboard-rectangle-5@2x.png" class="rectangle1"
                />
            <div class="a349079201304">
                <span class="span1">$3,490.79</span><span class="span2">    </span><span class="span3">20.1304</span>
            </div>
            <div class="a168">
                + 1.68%
            </div>
            <div class="bitcoin">
                Bitcoin
            </div>
            <div class="pricecandecreseby">
                Price can decrese by $20 by EOM
            </div>
            <img src="assets/img/dashboard-path-2.png" class="path2"
                />
            <img src="assets/img/dashboard-rectangle-6.png" class="rectangle2"
                />
            <div class="group">
                <div class="trendforlast">
                    Trend for last:
                </div>
                <img src="assets/img/dashboard-rectangle-15@2x.png" class="rectangle4"
                    />
                <div class="a7d">
                    7d
                </div>
                <div class="a1m">
                    1m
                </div>
                <div class="a1d">
                    1d
                </div>
                <div class="a3m">
                    3m
                </div>
                <div class="a1y">
                    1y
                </div>
                <div class="ytd">
                    YTD
                </div>
            </div>
            <div class="btc">
                <img src="assets/img/dashboard-fill-504@2x.png" class="fill504"
                    />
                <img src="assets/img/dashboard-fill-505@2x.png" class="fill505"
                    />
            </div>
            <div class="star">
                <img src="assets/img/dashboard-shape-7@2x.png" class="shape1"
                    />
            </div>
            <img src="assets/img/dashboard-menuoption-1374-3@2x.png" class="menuoption1374"
                />
            <img src="assets/img/dashboard-shape-2@2x.png" class="shape"
                />
        </div>
        <div class="coingroup1">
            <img src="assets/img/dashboard-rectangle-10.png" class="rectangle2"
                />
            <img src="assets/img/dashboard-rectangle-11@2x.png" class="rectangle1"
                />
            <div class="a91010026441">
                <span class="span1">$91.01</span><span class="span2">    </span><span class="span3">0.026441</span>
            </div>
            <div class="a002">
                -0.02%
            </div>
            <div class="ethereum">
                Ethereum
            </div>
            <div class="pricecandecreseby">
                Price can decrese by $20 by EOM
            </div>
            <div class="eth">
                <img src="assets/img/dashboard-fill-506@2x.png" class="fill506"
                    />
                <img src="assets/img/dashboard-fill-507@2x.png" class="fill507"
                    />
                <img src="assets/img/dashboard-fill-508@2x.png" class="fill508"
                    />
                <img src="assets/img/dashboard-fill-509@2x.png" class="fill509"
                    />
                <img src="assets/img/dashboard-fill-510-1@2x.png" class="fill510"
                    />
            </div>
            <div class="star">
                <img src="assets/img/dashboard-shape-7@2x.png" class="shape1"
                    />
            </div>
            <img src="assets/img/dashboard-menuoption-1374-3@2x.png" class="menuoption1374"
                />
            <img src="assets/img/dashboard-shape-4@2x.png" class="shape"
                />
        </div>
        <div class="coingroup2">
            <img src="assets/img/dashboard-rectangle-10.png" class="rectangle2"
                />
            <img src="assets/img/dashboard-rectangle-11@2x.png" class="rectangle1"
                />
            <div class="a2549000730992">
                <span class="span1">$25.49</span><span class="span2">    </span><span class="span3">0.00730992</span>
            </div>
            <div class="a002">
                -0.02%
            </div>
            <div class="litecoin">
                Litecoin
            </div>
            <div class="pricecandecreseby">
                Price can decrese by $20 by EOM
            </div>
            <div class="ltc">
                <img src="assets/img/dashboard-fill-491@2x.png" class="fill491"
                    />
                <img src="assets/img/dashboard-fill-492@2x.png" class="fill492"
                    />
                <img src="assets/img/dashboard-fill-499@2x.png" class="fill499"
                    />
            </div>
            <div class="star">
                <img src="assets/img/dashboard-shape-7@2x.png" class="shape1"
                    />
            </div>
            <img src="assets/img/dashboard-menuoption-1374-3@2x.png" class="menuoption1374"
                />
            <img src="assets/img/dashboard-shape-4@2x.png" class="shape"
                />
        </div>
        <div class="coingroup3">
            <img src="assets/img/dashboard-rectangle-4.png" class="rectangle3"
                />
            <img src="assets/img/dashboard-rectangle-13.png" class="rectangle1"
                />
            <img src="assets/img/dashboard-rectangle-11@2x.png" class="rectangle2"
                />
            <div class="a91010026441">
                <span class="span1">$91.01</span><span class="span2">    </span><span class="span3">0.026441</span>
            </div>
            <div class="a002">
                -0.02%
            </div>
            <div class="ethereum">
                ETHEREUM
            </div>
            <div class="pricecandecreseby">
                Price can decrese by $20 by EOM
            </div>
            <div class="group">
                <div class="trendforlast">
                    Trend for last:
                </div>
                <img src="assets/img/dashboard-rectangle-15@2x.png" class="rectangle4"
                    />
                <div class="a7d">
                    7d
                </div>
                <div class="a1m">
                    1m
                </div>
                <div class="a1d">
                    1d
                </div>
                <div class="a3m">
                    3m
                </div>
                <div class="a1y">
                    1y
                </div>
                <div class="ytd">
                    YTD
                </div>
            </div>
            <div class="eth">
                <img src="assets/img/dashboard-fill-506@2x.png" class="fill506"
                    />
                <img src="assets/img/dashboard-fill-507@2x.png" class="fill507"
                    />
                <img src="assets/img/dashboard-fill-508@2x.png" class="fill508"
                    />
                <img src="assets/img/dashboard-fill-509@2x.png" class="fill509"
                    />
                <img src="assets/img/dashboard-fill-510-1@2x.png" class="fill510"
                    />
            </div>
            <div class="star">
                <img src="assets/img/dashboard-shape-7@2x.png" class="shape1"
                    />
            </div>
            <img src="assets/img/dashboard-menuoption-1374-3@2x.png" class="menuoption1374"
                />
            <img src="assets/img/dashboard-shape-4@2x.png" class="shape"
                />
            <img src="assets/img/dashboard-path-2-1.png" class="path2"
                />
        </div>
        <div class="tabbar">
            <img src="assets/img/dashboard-rectangle-16.png" class="rectangle1"
                />
            <img src="assets/img/dashboard-combined-shape-1018@2x.png" class="combinedshape1018"
                />
            <div class="home">
                Home
            </div>
            <div class="markets">
                Markets
            </div>
            <div class="trades">
                Trades
            </div>
            <div class="settings">
                Settings
            </div>
            <div class="u0421u043bu043eu0439122">
                <img src="assets/img/dashboard-shape-9@2x.png" class="shape"
                    />
                <img src="assets/img/dashboard-shape-10@2x.png" class="shape1"
                    />
                <img src="assets/img/dashboard-shape-11@2x.png" class="shape2"
                    />
                <img src="assets/img/dashboard-shape-12@2x.png" class="shape3"
                    />
                <img src="assets/img/dashboard-shape-13@2x.png" class="shape4"
                    />
            </div>
            <div class="chart7">
                <img src="assets/img/dashboard-shape-14@2x.png" class="shape"
                    />
                <img src="assets/img/dashboard-shape-15@2x.png" class="shape1"
                    />
                <img src="assets/img/dashboard-shape-16@2x.png" class="shape2"
                    />
                <img src="assets/img/dashboard-shape-17@2x.png" class="shape3"
                    />
            </div>
            <div class="wallet">
                Wallet
            </div>
            <div class="wallet1">
                <img src="assets/img/dashboard-shape-18@2x.png" class="shape"
                    />
                <img src="assets/img/dashboard-oval@2x.png" class="oval"
                    />
            </div>
            <div class="settings2">
                <img src="assets/img/dashboard-shape-19@2x.png" class="shape"
                    />
                <img src="assets/img/dashboard-shape-20@2x.png" class="shape1"
                    />
            </div>
        </div>
        <img src="assets/img/login-home-button.png" class="homebutton"
            />
    </div>
</div>
